#netWarn {
margin-top:1.5%;
display:none; padding:0.5em 1em; border:0; border-bottom:thin solid #FFDEDE; text-align:center; color:#666; text-shadow:1px 1px 1px #FFEFEF;
background-color: #FFEFEF;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFEFEF), to(#FFDFDF));
background-image: -webkit-linear-gradient(top, #FFEFEF, #FFDFDF); 
background-image:    -moz-linear-gradient(top, #FFEFEF, #FFDFDF); 
background-image:      -o-linear-gradient(top, #FFEFEF, #FFDFDF); 
background-image:         linear-gradient(to bottom, #FFEFEF, #FFDFDF);
}